<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitación</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body class="background">
    <header class="header">
        <a class="header__brand" href="/cards" title="Haz click para volver a la página inicial">Ada_Moon_Wedding</a>
        </a>
        <a href="/cards"><img class="logoSponsor" src="../images/logo-wedding.png" alt="Logo"/></a>
  </header>
<section class="preview">
    <a href="/cards" class="button--large">Volver a la página principal</a>
    <div class="projectImage">
        <img class="img_fondo" src="<%= detail.otherImage %>" alt="">
    </div>
    <article class="card">
        <h2 class="card_projectTitle"><span class="card_projectTitle--text">¡OS INVITAMOS A NUESTRA BODA!</span></h2>
        <div class="card__author">
            <img src="<%= detail.coupleImage %>" alt="" class="card__authorPhoto">
            <p class="card__job"><%= detail.quote %></p>
            <h3 class="card__name"><%= detail.coupleName %></h3>
        </div>
        <div class="card__project">
            <h3 class="card__name"><%= detail.NAME %></h3>
            <p class="card__slogan"><%= detail.date %></p>
            <p class="card__description"><%= detail.message %></p>
            <div class="card__technicalInfo">
                <p class="card__technologies"><%= detail.contact %></p>
                <a href="<%= detail.ubication %>" class="icon icon__github"><p>Ubicación:</p><span class="material-symbols-outlined">
                    distance </span></a>
                <a href="<%= detail.gift %>" class="icon icon__www"><p>Lista de regalos:</p><span class="material-symbols-outlined">
                    featured_seasonal_and_gifts</span></a>
            </div>
        </div>
    </article>
</section>
</body>
</html>